html, body {
    margin: 2rem;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}
.page {
    width: 80%;
    max-width: 1440px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}
.item {
    display: flex;
    margin: 1rem;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    width: calc(100% / 8);
    min-width: 160px;
}
.item svg {
    --dimension: 40px;
    width: var(--dimension);
    height: var(--dimension);
}
.icon-container {
    margin-bottom: 1rem;
}
.label {
    color: grey;
}