html, body {
    margin: 2rem;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item {
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    width: calc(100% / 12);
    min-width: 160px;
}
.item svg {
    --dimension: 40px;
    width: var(--dimension);
    height: var(--dimension);
}
.icon-container {
    margin-bottom: 1rem;
}
.label {
    color: grey;
    text-align: center;
}